// Color Variables
$primary-color: #179138;
$primary-color-light: #F0FFF2;
$text-color: #555555;
$body-color: #fff;
$border-color: #AEAEAE;
$white: #fff;
$light: #F0F3F9;
$red:#D85050;
$light-gray: #E5E5E5;
$box-shadow: 0 4px 42px #4f72cd26;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$font-url: 'https://fonts.googleapis.com/css?family=Poppins:500,400,600';
